hr {
  margin: 0;
}
.rodape {
  background-color: var(--branco);
  padding: 1em;
}

.rodape__titulo {
  color: #000;
}

.lista__rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    padding: 3em;
  }

  .lista__rodape {
    display: block;
  }

  .lista__rodape__titulo {
    text-transform: uppercase;
    font-size: 14px;
    color: #858585;
  }
  .lista__rodape__item {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
  }

  .lista__rodape__link {
    color: #474646;
    text-decoration: none;
    margin-left: 0.5em;
  }

  .rodape__titulo {
    font-size: 24px;
  }
}

@media screen and (min-width: 1728px) {
  .lista__rodape {
    border-left: 1px solid #858585;
    padding-left: 1em;
  }

  .rodape {
    padding: 3em 0;
  }
}
